@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .section-min-height {
        min-height: calc(100dvh - 60px);
    }
    .toggle-btn {
        @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg];
    }
    .hello-world {
        font-size: clamp(1rem, 10vw, 5rem);
    }

    .image-border {
        border: 6px solid transparent;
        background: linear-gradient(45deg, #9cfcf8 11.2%, #6e7bfb 91.1%)
            border-box;

        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    .progress-bar {
        background: linear-gradient(45deg, #9cfcf8 11.2%, #6e7bfb 91.1%);
    }
}

/* scrollbar styles */
/* width */
::-webkit-scrollbar {
    width: 4px;

}

/* Track */
::-webkit-scrollbar-track {
  background-color: #272b42;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #9cfcf8 11.2%, #6e7bfb 91.1%);
    @apply rounded-xl
}
